
nav {
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
}
ul {
  padding: 0;
}
.navigation-bar {
  display: flex;
  margin: 10px;
}
.navigation-bar li {
  list-style: none;
  margin: 0px 20px;
  padding: 10px 0px;
}
.navigation-bar a {
  text-decoration: none;
  color: rgb(255, 252, 252);
}
.login-nav-bar {
  display: flex;
  margin: 10px;
}
.login-nav-bar li {
  list-style: none;
  margin: 0px 10px;
}
.login-nav-bar a {
  text-decoration: none;
  color: rgb(255, 252, 252);
}
.account-button {
  border: 2px solid #29517a;
  padding: 10px 25px;
  border-radius: 5px;
}
.login-button {
  padding: 10px 25px;

  border-radius: 5px;
  background-color: white;
}
.login-button a {
  color: #29517a;
}
.navigation-bar .logo {
  margin: 0px 50px 0px 0px;
  padding: 10px 25px 10px 0px;
  font-size: 18px;
  text-align: center;
  color: rgb(255, 252, 252);
}
