.navigation-bar { 
    display: flex;
}
.navigation-bar li { 
    list-style: none;
    margin: 0px 10px;
    
}
.navigation-bar a { 
    text-decoration: none;
    color: black;

}

.login-nav-bar { 
    display: flex;
}
.login-nav-bar li { 
    list-style: none;
    margin: 0px 10px;
    
}
.login-nav-bar a { 
    text-decoration: none;
    color: black;

}